html, body {
    font: normal 0.9em arial, helvetica;
}

#log {
    width: 440px;
    height: 200px;
    border: 1px solid #7F9DB9;
    overflow: auto;
}

#msg {
    width: 330px;
}

#channels {
    text-decoration : none;
}

.messages {
    color: white;
    background-color : #007bff;
    padding-left: 15px;
}