#container {
    position: absolute;
    top: 30px;
    left: 20px;
    /*border: 1px solid black;*/
    height: 350px;
    width: 760px;
}

#barDiv1 {
    margin: 0;
    float: left;
    width: 33%;
    height: 250px;
    position: absolute;
    top: 50px;
}

#barDiv2 {
    margin: 0;
    float: left;
    width: 33%;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 33%;
}

#barDiv3 {
    margin: 0;
    float: left;
    width: 33%;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 63%;
}
.barHeight {
    height: 230px;
}

#bar0 {
    position: absolute;
    top: 70px;
    left: 130px;
    height: 200px;
    width: 30px;
}

#bar1 {
    position: absolute;
    top: 70px;
    left: 360px;
    height: 200px;
    width: 30px;
}

#bar2 {
    position: absolute;
    top: 70px;
    left: 600px;
    height: 200px;
    width: 30px;
}

.disk {
    padding: 0;
    margin: 0;
    position: absolute;
    border: 1px solid gray;
    height: 26px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}

/* left of disk0 at 35px; left = 130 (bar0 left) -w/2 + 15 (bar width/2)  */
#disk7 {
    top: 225px;
    left: 10px;
    background: #DDEEFE;
    width: 270px;
    text-align: center;
}

#disk6 {
    top: 199px;
    left: 20px;
    background: #CEEDDF;
    width: 250px;
    text-align: center;
}

#disk5 {
    top: 173px;
    left: 40px;
    background: #FEEEEF;
    width: 210px;
    text-align: center;
}

#disk4 {
    top: 147px;
    left: 53px;
    background: #EEFEFF;
    width: 185px;
    text-align: center;
}

#disk3 {
    top: 121px;
    left: 65px;
    background: teal;
    width: 160px;
    text-align: center;
}

#disk2 {
    top: 95px;
    left: 80px;
    background: aqua;
    width: 130px;
    text-align: center;
}

#disk1 {
    top: 70px;
    left: 95px;
    background: dodgerblue;
    width: 100px;
    text-align: center;
}

#disk0 {
    top: 45px;
    left: 110px;
    background: #222222;
    width: 70px;
    text-align: center;
}

#bottombar {
    position: absolute;
    top: 300px;
    left: 10px;
    background: #222;
    border: 1px solid black;
    height: 30px;
    width: 740px;
}

label {
    float: right;
    width: 100px;
    margin-top: 8px;
}

button {
    float: right;
    margin-top: 26px;
    margin-right: 16px;
    padding: 2px 8px;
    height: 28px;
}

img {
    height: 200px;
    width: 30px;
    padding: 0;
    margin: 0;
}
