/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*BEGINNING BODY CONFIGURATION*/
#wrapper {
    width: 100%;
    height: 100%;
}

.pagesection {
    width: 100%;
    height: 650px;
}

.carousel-content {
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
}

.carousel-content img {
    width: 100%;
    height: 600px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #4dd0e1;
    border-radius: 50%;
    display: inline-block;
}

#carousel-indicators {
    text-align: center;
}

.dot-active,
.dot:hover {
    background-color: #717171;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.box960 {
    width: 960px;
    height: 100%;
    /*
        Center the box in the middle
        of the screen horizontally
    */
    margin: 0 auto;
}

/*END BODY CONFIGURATION*/

/*BEGINNING HEADER SECTION*/
#header {
    width: 100%;
    height: 90px;
}

#header > a {
    display: block;
    float: left;
    width: 23%;
    height: 72px;
    padding: 18px 0 0 18px;
}

#header > nav {
    float: right;
    width: 74%;
    height: 72px;
    padding: 18px 0 0;
}

#header > nav > ul {
    float: right;
    padding: 0;
    width: 100%;
    height: 20px;
    text-align: right;
}

#header > nav > ul > li {
    display: inline;
    margin: 8px;
    text-decoration: none;
}

#header > nav > ul > li > a {
    text-decoration: none;
    color: #FFF;
    font-size: 10pt;
    font-weight: bold;
}

#header > nav > ul > li > a:hover,
#header > nav > ul > li > a.active {
    color: #00e0d0;
    font-weight: bold;
}

/*END HEADER SECTION*/

/*BEGINNING CAROUSEL SECTION*/
.carousel {
    width: 90%;
    padding-top: 100px;
    padding-bottom: 69px;
    margin: 0 auto;
}

.separator {
    width: 50px;
    height: 1px;
    margin: 20px auto;
    border-top: 1px solid #00e0d0;
}

.bluebtn {
    display: block;
    width: 120px;
    height: 40px;
    margin: 50px auto;
    line-height: 40px;
    color: #00e0d0;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.bluebtn:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.carousel > h1,
.carousel > p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFF;
}

.carousel-controls {
    width: 90px;
    height: 30px;
    margin: 0 auto;
}

.carousel-controls > ul {
    margin: 0 auto;
    padding: 0;
}

.carousel-controls ul > li {
    display: inline;
    text-decoration: none;
}

.carousel-controls ul > li > a {
    float: left;
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border: 1px solid #00e0d0;
    border-radius: 50px;
}

.carousel-controls ul > li > a:hover,
.carousel-controls ul > li > a.active {
    border: 1px solid #00e0d0;
    background-color: #00e0d0;
}

/*END CAROUSEL SECTION*/

/*BEGINNING STORY SECTION*/
#story {
    width: 100%;
    height: 400px;
}

#storySection {
    margin: 0 auto;
}

#storyImage {
    background:url("../img/story/pyramid.jpg");
    background-size: cover;
    width: 240px;
    height: 226px;
    float: left;
}

#storyBody {
    width: 560px;
    float: right;
}

#storyBody h2 {
    margin-top: 0;
}

.btnStory {
    display: block;
    width: 120px;
    height: 40px;
    margin: 20px auto;
    line-height: 40px;
    color: #00e0d0;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00e0d0;
    border-radius: 2px;
    float: left;
}

.btnStory:hover {
    color: #000;
    border: 1px solid #000;
}
/*END STORY SECTION*/

/*BEGINNING VIDEO*/
#video {
    width: 100%;
    height: 550px;
    background:url("../img/video/video-background.jpg");
    background-size: cover;
}

#videoSection {
    margin: 0 auto;
}

#videoSection {
    width: 43px;
    top: 40%;
    position: relative;
}
/*END VIDEO*/

/*BEGINNING EXPERTISE SECTION*/
#expertise {
    width: 100%;
    height: 650px;
    margin: 70px auto;
}

#expertiseSection {
    margin: 0 auto;
    width: 100%;
    /*width here is 960px*/
}

#expertiseTitle {
    text-align: center;
}

#expertiseTitle p:first-of-type {
    font-size: 25px;
}

#expertiseTitle p {
    margin: 0;
}

.expertiseDivs {
    float: left;
    width: 29%;
    padding: 20px;
}

.expertiseDivs h4 {
    margin-bottom: 15px;
    text-align: center;
}

.expertiseDivs p {
    font-size: 16px;
    text-align: center;
}

.expertiseIcon {
    height: 50px;
    margin-left: 110px;
}

.borderRight {
    border-right: 1px solid #555555;
}
.borderBottom {
    border-bottom: 1px solid #555555;
}
/*END EXPERTISE SECTION*/

/*BEGINNING TEAM SECTION*/
#team {
    background:url("../img/team/team.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
}
#teamSection {
    margin: 0 auto;
    width: 100%;
    color: #fff;
    /*width here is 960px*/
}
#teamHeader {
    text-align: center;
}

#teamHeader p {
    margin: 0;
    padding: 0;
}

#teamHeader p:first-of-type {
    font-size: 25px;
    padding-top: 70px;
    margin: 0;
    padding-bottom: 0;
}

#teamBody {
    width: 100%;
    height: 305px;
    margin-top: 45px;
    margin-bottom: 70px;
}

.teamMember {
    width: 220px;
    float: left;
}
.marginRight {
    margin-right: 20px;
}

.teamMemberDetails {
    border: 1px solid #fff;
    padding: 20px;
}

.teamMemberDetails h4 {
    text-align: center;
    margin: 0;
}

.teamMemberDetails p {
    text-align: center;
    margin: 0;
}

#teamFooter {
    text-align: center;
}
.teambtn {
    display: block;
    width: 120px;
    height: 40px;
    margin: 25px auto;
    line-height: 40px;
    color: #00e0d0;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.teambtn:hover {
    color: #FFF;
    border: 1px solid #FFF;
}
/*END TEAM SECTION*/

/*BEGINNING WORK SECTION*/
#work {
    width: 100%;
}

#workSection {
    width: 100%;
    height: 80px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#workSection h2{
    float: left;
    margin: 0;
 }

#workSection p {
    float: right;
    margin: 0;
}

.workImagesDivs {
    width: 100%;
    height: 200px;
    margin: 0;
}

.lightGray {
    background-color: #B6B6B6;
    width: 16.66%;
    height: 200px;
    float: left;
}

.darkGray {
    background-color: #ACACAC;
    width: 16.66%;
    height: 200px;
    float: left;
}

.darkerGray {
    background-color: #A1A1A1;
    width: 16.66%;
    height: 200px;
    float: left;
}

.darkestGray {
    background-color: #8A8A8A;
    width: 16.66%;
    height: 200px;
    float: left;
}

#workFooter {
    width: 100%;
    height: 100px;
    /*margin-bottom: 75px;*/
}

.workbtn {
    display: block;
    width: 120px;
    height: 40px;
    margin: 50px auto;
    line-height: 40px;
    color: #00e0d0;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.workbtn:hover {
    color: #FFF;
    border: 1px solid #FFF;
}
/*END WORK SECTION*/

/*BEGINNING PEOPLE SECTION*/
#people {
    background: url("../img/people/peopleBackground.jpg");
    background-size: cover;
    width: 100%;
    height: 350px;
    color: #fff;
    padding-top: 65px;
    padding-bottom: 65px;
}

#peopleIcon {
    background: url("../img/people/peopleTitle.png");
    background-size: cover;
    width: 25px;
    height: 20px;
    margin: 0 auto 40px auto;
}

#peopleSection {
    margin: 0 auto;
    text-align: center;
    width: 770px;
    font-size: 17px;
}

#peopleSection h4{
    margin-bottom: 0;
}

#peopleSection p{
    margin: 0;
    font-size: 17px;
}

#peopleSection p:last-of-type{
    margin-top: 5px;
    font-size: 14px;
}

.imgMarginRight{
    margin-right: 2%;
}

#peopleFooter {
    margin-top: 40px;
}

.people:hover {
    height: 80px;
}
/*END PEOPLE SECTION*/

/*BEGINNING CONTACT SECTIONS*/
#contact {
    width: 100%;
}

#contactNews  {
    width: 100%;
    margin-top: 70px;
}

#news {
    width: 45%;
    float: left;
    margin-left: 5%;
}

#news h3 {
    margin-bottom: 7%;
}

#news form input {
    margin-bottom: 7%;
    width: 98%;
    padding: 2%;
}

#news form textarea {
    width: 98%;
    padding: 2%;
}

#news form a {
    float: left;
    margin-top: 3%;
}

#contactClients {
    float: right;
    width: 48%;
    margin: 0 auto;
}

#contactClients h3 {
    margin-left: 11%;
    margin-bottom: 5%;
}

#contactClientImgs {
    height: 450px;
}

.contactClientsImg {
    padding: 19px;

}

.contactClientsImg img {
    margin-left: 50px;
    height: auto;
    width: 120px;
}

/*END CONTACT SECTION*/

/*BEGINNING FOOTER SECTION*/
footer {
    background: url("../img/footer/footer.png");
    padding: 4%;
    color: #fff;
}

#footer-content {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

#footer-content ul {
    margin: 0 auto;
    display: flex;
    list-style: none;
}

#footer-content ul li {
    text-decoration: none;
    width: 100%;
    margin: 1%;
}

.footer-box {
    height: 205px;
    text-align: left;
}

#footer-logo {
    margin-bottom: 10%;
}

.footer-box h3 {
    margin-top: 5%;
    margin-bottom: 12%;
}
#footer-location {
    height: 50px;
    float: left;
    margin-right: 2%;
}

#txt-news-letter {
    background: transparent;
    height: 20%;
    width: 70%;
    padding-left: 4%;
    float: left;
}

#btn-news-letter {
    background: url("../img/footer/btn-subscribe.png");
    background-size: 100% 100%;
    height: 23%;
    width: 23%;
    border: 0 none;
    float: right;
    margin-bottom: 5%;
}

#social-media {
    width: 100%;
    display: flex;
    list-style: none;
}
#social-media a{
    margin-left: 0;
    margin-right: 5%;
    padding-left: 0;
}

#footer-terms {
    width: 96%;
    margin-top: 3%;
    color: #fff;
    text-align: left;
    padding-left: 5%;
}
#footer-terms a {
    text-decoration: none;
    color: #fff;
    margin-right: 2%;
}

#footer-terms a:hover {
    text-decoration: underline;
    color: #b3d4fc;
}

#footer-copy-rights {
    float: right;
    margin: 0;
}


/*END FOOTER SECTION*/

/* ==========================================================================
   Media Queries
   ========================================================================== */
/*@media(max-width: 768em ) {*/

/*#contact-clients ul li {*/
/*text-decoration: none;*/
/*!*width: 100%;*!*/
/*margin-bottom: 5%;*/
/*}*/

/*#contact-clients ul li img {*/
/*width: 200px;*/
/*height: 49px;*/
/*margin-right: 15%;*/
/*margin-bottom: 2%;*/
/*}*/
/*}*/

/*@media (min-width: 769em ) and (max-width: 1024em){*/

/*#contact-clients ul li {*/
/*text-decoration: none;*/
/*width: 100%;*/
/*margin-bottom: 5%;*/
/*}*/

/*#contact-clients ul li img {*/
/*width: 100px;*/
/*height: 49px;*/
/*!*margin-right: 15%;*!*/
/*margin-bottom: 2%;*/
/*}*/
/*}*/

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}