*
{
	margin: 10px;
	padding: 0px;
}
.bgDiv
{
	background-color: #D32F2F;
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	padding-top: 0px;
	width: 40%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.form
{
	padding-left: 10px;
	border: 3px solid;
	border-color: black;
	border-radius: 10px; 
	background: #fff;
	color: #000;
}
.email
{
	width: 77%;
}
.ddlMovie
{
	width: 78%;
	background: transparent;
}
.durTitle
{
	text-align: center;
}
.durDate
{
	width: 80%;
}
.btnSubmit
{
	width: 80px;
	font-weight: bold;
	font-size: 17px;
	border-radius: 10px;
	border-color: #D32F2F;
	background-color: #D32F2F;
	color: #fff;
}
.btnReset
{
	width: 80px;
	margin-left: 20%;
	font-weight: bold;
	font-size: 17px;
	border-radius: 10px;
	color: #fff;	
	background-color: #D32F2F;
	border-color: #D32F2F;
}