html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

#fa-instagram {
    font-size: 36px;
}

.clear {
    clear: both;
}

#intagramLogin {
    width: 88.5%;
    border: 1px solid black;
    margin-top: 20px;
    padding: 0 20px 0 20px;
    text-align: center;
}

.instaHeaders {
    width: 25px;
    height: 25px;
}

#files {
    visibility: hidden;
}

.file-width {
    max-width: 0px;
    height: 0px;
}

.fa-comment-o,
.fa-bookmark-o,
.fa-heart-o,
.fa-search,
.fa-plus-square-o,
.fa-user-o,
.fa-home {
    font-size: 30px;
    margin: 0;
    justify-content: center;
    padding-top: 0;
    color: #000;
}

.fa-comment-o:hover,
.fa-bookmark-o:hover,
.fa-heart-o:hover,
.fa-plus-square-o:hover,
.fa-user-o:hover,
.fa-search:hover,
.fa-home:hover {
    color: #ff0000;
    cursor: pointer;
}

#caption {
    color: red;
}

.noresize {
    resize: none;
}

.cursor {
    cursor: pointer;
}